@using Domain.Entities
@model IQueryable<Category>

<table class="mt-4 table table-hover">
    <thead>
        <tr>

            <th>Id</th>
            <th>Name</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <th>@item.Id</th>
                <th>@item.Name</th>
                <th><a asp-action="RemoveCategory" asp-controller="Category" asp-route-id=@item.Id>Sil</a></th>
            </tr>
        }

    </tbody>

</table>
